{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
      .navbar-toggler {
        background-color: transparent;
        border: none;
      }
      .navbar-toggler-icon {
        background-size: 1.5em 1.5em;
        background-repeat: no-repeat;
        background-position: center;
        filter: invert(1) brightness(0) saturate(100%) hue-rotate(0deg);
      }
      .navbar-toggler-user {
        background-color: transparent;
        border: none;
        color: #fff;
      }
      .btn-group {
        display: flex;
        align-items: center;
      }
      .btn-group .btn {
        margin-bottom: 0;
      }
      .navbar-nav {
        display: flex;
        justify-content: flex-end;
        flex: 1;
      }
    </style>
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom-dark fixed-top shadow-sm">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" href="{% url 'homepage:index' %}">
        <img src="{% static 'img/logo.png' %}" height="50" class="d-inline-block align-top" alt="Logo">
      </a>

      <!-- Кнопка для основного меню -->
      <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Кнопка для меню пользователя -->
      <button class="navbar-toggler text-dark navbar-toggler-user" type="button" data-bs-toggle="collapse" data-bs-target="#navbarUserNav" aria-controls="navbarUserNav" aria-expanded="false" aria-label="Toggle user menu">
        <i class="fas fa-user"></i>
      </button>

      <!-- Основное меню -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex">
            {% if user.is_authenticated %}
            <div class="btn-group flex-wrap" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-dark mb-2">
                <a class="nav-link {% if view_name == 'homepage:index' %} active {% endif %}" href="{% url 'homepage:index' %}">Главная</a>
              </button>
              <button type="button" class="btn btn-outline-dark mb-2">
                <a class="nav-link {% if view_name == 'constructions:constructions' %} active {% endif %}" href="{% url 'constructions:constructions' %}">Объекты</a>
              </button>
              <button type="button" class="btn btn-outline-dark mb-2">
                <a class="nav-link {% if view_name == 'constructions:constructions_company' %} active {% endif %}" href="{% url 'constructions:constructions_company' %}">Подрядчики</a>
              </button>
              <button type="button" class="btn btn-outline-dark mb-2">
                <a class="nav-link {% if view_name == 'constructions:location' %} active {% endif %}" href="{% url 'constructions:location' %}">Локация</a>
              </button>
              <button type="button" class="btn btn-outline-dark mb-2">
                <a class="nav-link {% if view_name == 'constructions:brandtype' %} active {% endif %}" href="{% url 'constructions:brandtype' %}">Бренд</a>
              </button>
              <button type="button" class="btn btn-outline-dark mb-2">
                <a class="nav-link {% if view_name == 'about:description' %} active {% endif %}" href="{% url 'about:description' %}">О сайте</a>
              </button>
              {% if user.is_staff %}
                <button type="button" class="btn btn-outline-dark mb-2">
                  <a class="nav-link {% if view_name == 'reminders:reminders' %} active {% endif %}" href="{% url 'reminders:reminders' %}">Напоминания</a>
                </button>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Меню пользователя -->
      <div class="collapse navbar-collapse navbar-nav" id="navbarUserNav">
        <div class="d-flex align-items-center">
          {% if user.is_authenticated %}
          <div class="btn-group flex-wrap" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary mb-2">
              <a class="text-decoration-none text-reset" href="{% url 'users:profile' user.username %}">{{ user.username }}</a>
            </button>
            <button type="button" class="btn btn-outline-primary mb-2">
              <a class="text-decoration-none text-reset" href="{% url 'logout' %}">Выйти</a>
            </button>
            {% if user.is_staff %}
            <button type="button" class="btn btn-outline-primary mb-2">
              <a class="text-decoration-none text-reset" href="{% url 'users:users' %}">Админ</a>
            </button>
            {% endif %}
          </div>
          {% else %}
          <div class="btn-group flex-wrap" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary">
              <a class="text-decoration-none text-reset" href="{% url 'login' %}">Войти</a>
            </button>
            <button type="button" class="btn btn-outline-primary">
              <a class="text-decoration-none text-reset" href="{% url 'registration' %}">Регистрация</a>
            </button>
            <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="xtred_bot" data-size="large" data-userpic="false" data-radius="4" data-auth-url="https://engineer.sytes.net" data-request-access="write"></script>
          </div>

          {% endif %}
        </div>
      </div>

    </div>
  </nav>
</header>
</body>
</html>