
<div class="p-3">
    <h5>Статистика прошлой недели:</h5>
    <ul class="list-group">
        <li class="list-group-item">
            Объектов было построено: {{ total_objects_last_week }}
        </li>
        <li class="list-group-item">
            Объектов было сдано: {{ objects_built_last_week }}
        </li>
        <li class="list-group-item">
            Объектов находилось в монтаже: {{ constructions_in_progress }}
        </li>
        <li class="list-group-item">
            Принимало участие подрядчиков: {{ contractors_count }}
        </li>
    </ul>
</div>