<div class="p-3">
  <h5>Общие статистические данные:</h5>
  <ul class="list-group">
    <li class="list-group-item ">
      Объектов в базе данных всего: {{ total_objects }}
    </li>
    <li class="list-group-item ">
      Объектов в монтаже сейчас: {{ objects_in_progress }}
    </li>
    <li class="list-group-item">
      Объектов построено в этом году: {{ objects_built_this_year }}
    </li>
    <li class="list-group-item ">
      Объектов построено за прошлый год: {{ objects_built_last_year }}
    </li>
    <li class="list-group-item">
      Осталось дней до нового года: {{ days_until_new_year }}
    </li>
  </ul>
</div>